.main {
    text-align: center;
}
.input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid  gray;
}
.btn-s {
    margin-left: 0.5rem;
    padding: 0.3rem 1rem;
    color: white;
    background: lightslategray;
    border: none;
    border-radius: 1rem;
}
.name {
    color: red;
    font-size: 1.3rem;
}